.mobile-search-container {
  position: relative;
}
.mobile-search-header {
  height: .88rem;
  line-height: .88rem;
  color: #fff;
  font-size: .34rem;
  background: #ed4040;
  padding: 0 .2rem;
  display: flex;
}

.moblie-back-to-pre {
  position: absolute;
  transform: rotate(90deg);
  .icon-open:before {
    font-size: .32rem;
  }
}

.mobile-search-title {
  font-size: .38rem;
  font-weight: 700;
  margin: 0 auto;
}

.mobile-search-input {
  position: relative;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  width: 100%;
  padding: .1rem;
  .icon-search3 {
    position: absolute;
    left: .2rem;
    top: .27rem;
    z-index: 1;
  }
  > form {
    position: relative;
    width: 100%;
    .input-text {
      border: 0;
      border-radius: 3px;
      margin: 0;
      font-size: .32rem;
      width: 100%;
      padding: .15rem .2rem;
      padding-left: .5rem;
    }
  }
}

.keywords-container {
  font-size: .32rem;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  color: #444;
  margin: .32rem .32rem;
  > li {
    background: #f5f5f5;
    padding: .1rem;
    margin: .2rem .1rem;
  }
}
