.mobile-search-box{
  height: .88rem;
  line-height: .88rem;
  font-size: .34rem;
  display: flex;
  #mobile-search{
    flex: 3;
    border: none;
    border-bottom: 1px solid #208eda;
  }
  .mobile-search-btn{
    flex: .5;
    border: 1px solid #208eda;
    background-color: #208eda;
    border-radius: none;
  }
}