.header {
  height: .88rem;
  line-height: .88rem;
  color: #fff;
  font-size: .34rem;
  background: #ed4040;
  padding: 0 .2rem;
  display: flex;
  justify-content: space-between;
}

.iconfont {
 font-size: .34rem;
}
