.mobile-news-item {
  display: flex;
  align-items: center;
  padding: .2rem 0;
  margin: 0 .2rem;
  border-bottom: 1px solid #e4e4e4;
  > .mobile-image-click-box {
    margin-right: .2rem;
    >a{
      display: block;
      width: 2rem;
      height: 1.34rem;
      overflow: hidden;
      img {
      font-size: .28rem;
      background-color: #f4f5f6;
      line-height: 1.5;
      color: #444;
      width: 100%;
      min-height: 100%;
    }
  }
  }
  > .mobile-news-item-rbox {
    width: 100%;
    > .mobile-title-box {
      font-size: .34rem;
      line-height: .48rem;
      color: #1a1a1a;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .mobile-news-item-rbox-bottom {
      margin-top: .08rem;
      > .mobile-item-channel {
        color: #fe362c;
        border: 1px solid #fe362c;
        padding: .02rem .04rem;
        overflow: hidden;
        text-align: center;
        font-size: .2rem;
        background-color: #fff;
        border-radius: .04rem;
      }
      > .mobile-news-from {
        height: .32rem;
        font-size: .2rem;
        color: #888;
        line-height: .4rem;
      }
      .mobile-news-date {
        float: right;
        height: .32rem;
        font-size: .2rem;
        color: #888;
        line-height: .4rem;
      }
    }
  }
}
