.clearfix::after{
  content: '';
  display: block;
  clear: both;
}
.slider-box{
  width: 100%;
  height: 3.8rem;
  overflow: hidden;
  position: relative;
  >.slider-container{
    position: absolute;
    transition: all .3;
    height: 100%;
    width: 500%;
    >.slider-item{
      width: 20%;
      float: left;
      >img{
        width: 100%;
        height: 3.8rem;
        object-fit: cover;
      }
    }
  }
}