@keyframes pc-loading {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(72deg);
  }
  40% {
    transform: rotate(144deg);
  }
  60% {
    transform: rotate(216deg);
  }
  80% {
    transform: rotate(288deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.mobile-load-more {
  color: #444;
  background: #f4f5f6;
  text-align: center;
  font-size: .34rem;
  padding: .1rem 0;
  width: 100%;
  .icon-loading {
    margin-left: .05rem;
    &::before {
      font-size: .34rem;
      display: inline-block;
      animation: pc-loading 1.2s infinite linear;
    }
  }
  .icon-cannotfound {
    margin-left: .05rem;
    &::before {
      font-size: .34rem;
      display: inline-block;
    }
  }
}
