@import './common.scss';
.left-wrapper{
  position: fixed;
  top: 0;
}

.logo {
    min-width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;
    >span {
        color: $base-color;
        font-size: 24px;
        font-weight: 700;
        font-family: 'Microsoft YaHei'
    }
}

.nav {
    font-size: 16px;
    >a {
        text-align: center;
        margin-bottom: 4px;
        color: $baseFont-color;
        >li {
            transition: all .35s;
            cursor: pointer;
            border-radius: 4px;
            margin-bottom: 2px;
            display: block;
            height: 40px;
            line-height: 40px;
            &:hover {
                background-color: $base-color;
                color: #fff;
            }
        }
    }
}

.selected {
    color: #fff;
    background-color: $base-color;
}